<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="AweConfiguration" type="Axinom.WorkflowEngine.Configs.AweConfigurationSection, Axinom.WorkflowEngine" />
    <section name="CmsConfiguration" type="Axinom.CMS.Core.CmsConfigurationSection, cms.mediasuite.rim.web" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <AweConfiguration>
    <theme value="default" />
    <dateTimeFormat value="DD.MM.YYYY HH:mm" />
    <currency suffix="" thousands=" " decimal="," precision="2" allowNegative="false" allowZero="true" />
  </AweConfiguration>
  <CmsConfiguration>
    <!--<ingestStorage key="blob" value="DefaultEndpointsProtocol=https;AccountName=axcmslocalstage;AccountKey=5DdSnKodu8gOQ2WWpKJFlA/e6vv7Kp93jUeTEznx9GpIrf1bdjlgJ3LZedkCYkjzOIKmGL5uhbMd9+Y2tu62Fw==" />-->
    <seedStorage key="disk" value="\SeedData" />
    <ingestStorage key="disk" value="\Ingest" />
    <localStorage key="disk" value="\Upload" />
    <publishStorage key="disk" value="\Publish" />
    <VipConfigurations>
      <add name="MessagePublisher" provider="amazonsqs" uriPath="https://sqs.us-east-1.amazonaws.com/176236865008/vip-messagepublishing-dev" credentialsName="" credentialsSecret="" />
      <add name="ContentAcquisition" provider="AmazonS3" uriPath="https://s3-us-east-1.amazonaws.com/zii-dev-in-folder/" credentialsName="" credentialsSecret="" />
      <add name="ContentPublishing" provider="AmazonS3" uriPath="https://s3-us-east-1.amazonaws.com/zii-dev-out-folder/" credentialsName="" credentialsSecret="" />
    </VipConfigurations>
    <VipSettings baseApiUrl="https://vip-stable-eu-west-1.axtest.net" auth="" archivingType="SingleTar" archiveFileExtension=".tar" videoFormat="H264" dashManifestFileName="manifest.mpd" hlsManifestFileName="manifest.m3u8" maxTranscodingFileAttemptsCount="5" maxVipProcessingInstances="50" />
    <VipVideoRepresentation>
      <!--  make height empty so that VIP will calculate it according to source video material. VIP won't create video with higher resolution than source video has  -->
      <add bitrate="1200" height="480" width="720" />
      <add bitrate="400" height="216" width="" />
    </VipVideoRepresentation>
    <DrmConfiguration apiUrl="https://key-server-management.axtest.net/api" isKeyServerProxy="false" tenantId="" managementKey="" keySeed="" keysProtection="Encrypted" thumbprints="" />
    <DeviceCertificateStatusListConfiguration apiUrl="https://drm-management.axtest.net/api/Sync/DeviceCertificateStatusList" tenantId="" managementKey="" />
    <!-- Supported options: Remix, Wireless, Rave2020 -->
    <Platforms>
      <add name="Remix" />
      <add name="Wireless" />
      <add name="Rave2020" />
    </Platforms>
    <loginTimeoutInMinutes value="1440" />
    <transcodingFailedQueringIntervalInSeconds value="30" />
    <airlineCode value="ANA" />
    <defaultLanguageCode value="en-US" />
    <defaultLanguageName value="English" />
    <relationsSeparatorCharacter value="|" />
    <SdCardSizesGb>
      <add name="8 GB" value="7.37" isDefault="false" />
      <add name="64 GB" value="59" isDefault="false" />
      <add name="128 GB" value="118" isDefault="false" />
      <add name="256 GB" value="238" isDefault="false" />
      <add name="512 GB" value="478" isDefault="true" />
    </SdCardSizesGb>
    <totalRduSizeMb value="524288" />
    <reservedRduSizeMb value="61440" />
    <totalScuSizeMb value="957440" />
    <reservedScuSizeMb value="102400" />
    <metaDataSizeMb value="1" />
    <contentSetExportRootPath value="C:\ContentSetRoot" />
    <disableValidationRulesForDailyAds value="false" />
    <disableValidationRulesForHomescreenContentSet value="false" />
    <publishOutputs>
      <add name="MainStorage" />
      <add name="DailySetsStorage" />
    </publishOutputs>
    <keyTransferPublicKeyFileName value="keytransfer_public_key_zii.pem" />
    <publicKeysFilePath value="C:\ProgramData\Zii\rave_keys.csv" />
    <contentSetKeyFileName value="contentset.key" />
    <playbackDeviceKeyRingFileName value="playbackdev.keyring" />
    <playbackDeviceKeyRingTempFilePath value="Upload\Temp" />
    <keyTitleDirectoryName value="keys" />
    <encryptedFilesSubfolderName value="Encrypted" />
    <encryptedFileExtension value=".enc" />
    <addEncryptedFileExtension isEnabled="true" />
    <imageFileNameWithExtensionMaxLength value="54" />
    <maxIngestProcessingFileAttemptsCount value="5" />
    <checkAssetsValidityOnStartup isEnabled="false" />
    <importTransactionsEnabled isEnabled="false" />
    <genreAll isEnabled="true" />
    <mediaOrderIgnorePrefixKeywords value="A,The" />
    <allowedVideoExtensions value=".mp4;.mpg;.m4w;.m4s;.m1w;.m1s;.m2s;.m2w" />
    <allowedAudioExtensions value=".mp3" />
    <allowedSubtitleExtensions value=".srt;.spf" />
    <allowedImageExtensions value=".jpg;.png" />
    <allowedPublicationExtensions value=".pdf" />
    <allowedGameFolderExtensions value=".zip" />
    <mediaIdGeneratorUrl value="http://mediasuite-mediaid-generator.axtest.net/get" />
    <mediaIdGeneratorRequestCount value="5" />
    <mediaIdGeneratorThreshold value="2" />
    <homescreenType value="Tabbed" />
    <scrollableHomescreens isEnabled="false" />
    <flightLineWidget name="FlightLineWidget" width="1120" height="30" x="80" y="64" layoutHeight="148" />
    <importMigrationMode isEnabled="false" />
    <metadataMigration isEnabled="false" />
    <metadataMigrationStorage key="disk" value="D:\CS with source images" />
    <metadataMigrationMediaParentTitlesFilePath value="D:\CS with source images\MediaParentTitles.csv" />
    <metadataMigrationMediaParentTitlesCsvFileHasHeader isEnabled="true" />
    <metadataMigrationManifestGracePeriod value="5" />
    <metadataMigrationMediaGracePeriod value="5" />
    <ImageResolutions>
      <add name="720p" postfix="" multiplier="1" enabled="true" />
      <add name="1080p" postfix="@2x" multiplier="2" enabled="false" />
    </ImageResolutions>
    <AdSlots>
      <!--<add name="Slot1" mediaId="1000001" />-->
    </AdSlots>
    <allowMoreThanOneBranding isEnabled="true" />
    <BrandingMediaCategories>
      <add name="App" />
      <add name="Homescreen" />
      <add name="IfeScreen" />
    </BrandingMediaCategories>
    <StationConfig>
      <MediaCategories>
        <add name="Movie" isEnabled="true" showOnHome="true" />
        <add name="Tv" isEnabled="true" showOnHome="true" />
        <add name="Advertisement" isEnabled="true" showOnHome="true" />
        <add name="Album" isEnabled="true" showOnHome="true" />
        <add name="Audiobook" isEnabled="true" showOnHome="true" isCentricOnly="true" />
        <add name="Game" isEnabled="true" showOnHome="true" isCentricOnly="true" />
        <add name="GameServer" isEnabled="true" showOnHome="true" isCentricOnly="true" />
        <add name="Publication" isEnabled="true" showOnHome="true" />
        <add name="Homescreen" isEnabled="true" showOnHome="true" />
        <add name="MenuConfig" isEnabled="true" showOnHome="true" />
        <add name="Package" isEnabled="true" showOnHome="true" isCentricOnly="true" />
        <add name="Catalog" isEnabled="true" showOnHome="true" isCentricOnly="true" />
        <add name="MediaFileset" isEnabled="true" showOnHome="true" isCentricOnly="true" />
        <add name="PRAM" isEnabled="true" />
        <add name="BGM" isEnabled="true" />
        <add name="VA" isEnabled="true" />
        <add name="Decompression" isEnabled="true" />
        <add name="NoSmoking" isEnabled="true" />
        <add name="FastenSeatBelts" isEnabled="true" />
        <add name="PaxSurvey" isEnabled="true" />
        <add name="Theme" isEnabled="true" />
        <add name="Messages" isEnabled="true" />
        <add name="MovingMap" isEnabled="true" />
        <add name="IFEOff" isEnabled="true" />
        <add name="IfeScreen" isEnabled="true" />
        <add name="AdSlot" isEnabled="false" showOnHome="true" />
      </MediaCategories>
      <HomeFeatures>
        <add name="Import" isEnabled="true" />
        <add name="ImageGallery" isEnabled="true" />
        <add name="ResidentContent" isEnabled="true" />
        <add name="Administration" isEnabled="true" />
      </HomeFeatures>
    </StationConfig>
    <StreamLanguages>
      <add name="Afrikaans" code="afr" />
      <add name="Amharic" code="amh" />
      <add name="Arabic" code="ara" />
      <add name="Azerbaijani" code="aze" />
      <add name="Bengali" code="ben" />
      <add name="Bulgarian" code="bul" />
      <add name="Catalan" code="cat" />
      <add name="Chinese" code="zhc" />
      <add name="Chinese (Cantonese)" code="yue" />
      <add name="Chinese (Mandarin)" code="cmn" />
      <add name="Chinese (Simplified)" code="chi" />
      <add name="Chinese (Traditional)" code="zho" />
      <add name="Chinese (Taiwanese)" code="zht" />
      <add name="Croatian" code="hrv" />
      <add name="Czech" code="ces" />
      <add name="Danish" code="dan" />
      <add name="Dutch" code="nld" />
      <add name="Descriptive Video Services - English" code="dvs" />
      <add name="English" code="eng" />
      <add name="Estonian" code="est" />
      <add name="Farsi" code="fas" />
      <add name="Finnish" code="fin" />
      <add name="French (Canadian)" code="cfr" />
      <add name="French (Parisian)" code="fra" />
      <add name="Gaelic" code="gle" />
      <add name="German" code="deu" />
      <add name="Greek" code="ell" />
      <add name="Hebrew" code="heb" />
      <add name="Hindi" code="hin" />
      <add name="Hungarian" code="hun" />
      <add name="Icelandic" code="isl" />
      <add name="Igbo" code="ibo" />
      <add name="Indonesian" code="ind" />
      <add name="Italian" code="ita" />
      <add name="Japanese" code="jpn" />
      <add name="Kazakh" code="kaz" />
      <add name="Kinyarwanda" code="kin" />
      <add name="Kituba" code="ktu" />
      <add name="Korean" code="kor" />
      <add name="Lao" code="lao" />
      <add name="Latvian" code="lav" />
      <add name="Lingala" code="lin" />
      <add name="Lithuanian" code="lit" />
      <add name="Macedonian" code="mkd" />
      <add name="Malay" code="msa" />
      <add name="Nauvhal" code="nah" />
      <add name="Nepali" code="nep" />
      <add name="Norwegian" code="nor" />
      <add name="Polish" code="pol" />
      <add name="Portuguese (Brazilian)" code="pbr" />
      <add name="Portuguese (European)" code="por" />
      <add name="Punjabi" code="pan" />
      <add name="Romanian; Moldavian (Moldovan)" code="ron" />
      <add name="Russian" code="rus" />
      <add name="Serbo-Croatian" code="hbs" />
      <add name="Sinhala" code="sin" />
      <add name="Slovak" code="slk" />
      <add name="Spanish (Castilian)" code="spa" />
      <add name="Spanish (Latin)" code="spl" />
      <add name="Swahili" code="swa" />
      <add name="Swedish" code="swe" />
      <add name="Swiss German; Alemannic; Alsatian" code="gsw" />
      <add name="Tagalog" code="tgl" />
      <add name="Tamil" code="tam" />
      <add name="Thai" code="tha" />
      <add name="Turkish" code="tur" />
      <add name="Ukrainian" code="ukr" />
      <add name="Urdu" code="urd" />
      <add name="Vietnamese" code="vie" />
      <add name="Wolof" code="wol" />
    </StreamLanguages>
    <AircraftTypes>
      <add name="A321" />
      <add name="A380" />
    </AircraftTypes>
    <BrandingViews>
      <!--<add name="Test" />-->
    </BrandingViews>
    <languages>
      <add name="Japanese" code="jpn" />
      <add name="Korean" code="kor" />
      <add name="Traditional Chinese" code="zho" />
      <add name="Simplified Chinese" code="chi" />
    </languages>
    <ParentalLocks>
      <add name="Unlocked" code="0" />
      <add name="Locked" code="1" />
    </ParentalLocks>
    <IFEOffTransitionEffects>
      <add name="crossfade" />
      <add name="none" />
    </IFEOffTransitionEffects>
    <IFEScreenTransitionEffects>
      <add name="crossfade" />
      <add name="none" />
    </IFEScreenTransitionEffects>
    <IFEScreenPosition>
      <add name="top-left" />
      <add name="top-center" />
      <add name="top-right" />
      <add name="middle-left" />
      <add name="middle-center" />
      <add name="middle-right" />
      <add name="bottom-left" />
      <add name="bottom-center" />
      <add name="bottom-right" />
    </IFEScreenPosition>
    <IFEOffSynchronizationTypes>
      <add name="ife" />
      <add name="none" />
    </IFEOffSynchronizationTypes>
    <IFEScreenTypes>
      <add name="Welcome" />
      <add name="Farewell" />
      <add name="Headphones" />
      <add name="Splash" hasPortrait="true" />
      <add name="IFEOff" />
    </IFEScreenTypes>
    <Roles>
      <Role id="video_access" name="Video_access">
        <MediaTypes>
          <MediaType name="Video" />
        </MediaTypes>
      </Role>
      <Role id="audio_access" name="Audio_access">
        <MediaTypes>
          <MediaType name="Audio" />
        </MediaTypes>
      </Role>
      <Role id="publication_access" name="Publication_access">
        <MediaTypes>
          <MediaType name="Publication" />
        </MediaTypes>
      </Role>
      <Role id="imagereader_access" name="ImageReader_access">
        <MediaTypes>
          <MediaType name="MediaFileset" />
        </MediaTypes>
      </Role>
      <Role id="homescreen_access" name="Homescreen_access">
        <MediaTypes>
          <MediaType name="Homescreen" />
        </MediaTypes>
      </Role>
      <Role id="catalog_access" name="Catalog_access">
        <MediaTypes>
          <MediaType name="Catalog" />
        </MediaTypes>
      </Role>
    </Roles>
    <LayoutSizes>
      <add name="Large" width="458" height="466" platforms="Remix" />
      <add name="Medium" width="320" height="466" platforms="Remix" />
      <add name="Small" width="322" height="228" platforms="Remix" />
      <add name="Banner" width="1120" height="140" platforms="Remix" />
      <add name="Wireless" width="1080" height="444" platforms="Wireless" ignoreMultiplier="true" ignoreGeneratePkm="true" />
      <add name="A" width="726" height="726" platforms="Rave2020" />
      <add name="B" width="1512" height="726" platforms="Rave2020" />
      <add name="C" width="2298" height="726" platforms="Rave2020" />
      <add name="D" width="726" height="1512" platforms="Rave2020" />
      <add name="E" width="1512" height="1512" platforms="Rave2020" />
      <add name="F" width="2298" height="1512" platforms="Rave2020" />
      <add name="G" width="1291" height="726" platforms="Rave2020" />
      <add name="H" width="2688" height="1512" platforms="Rave2020" />
      <add name="I" width="884" height="1512" platforms="Rave2020" />
      <add name="J" width="1200" height="1512" platforms="Rave2020" />
      <add name="M" width="884" height="884" platforms="Rave2020" />
      <add name="N" width="1200" height="1200" platforms="Rave2020" />
    </LayoutSizes>
    <WidgetLayouts>
      <WidgetLayout name="Layout_A1" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Medium" x="80" y="10" />
          <LayoutLocation name="1" size="Large" x="410" y="10" />
          <LayoutLocation name="2" size="Small" x="878" y="10" />
          <LayoutLocation name="3" size="Small" x="878" y="248" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_A2" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Small" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="80" y="248" />
          <LayoutLocation name="2" size="Large" x="412" y="10" />
          <LayoutLocation name="3" size="Medium" x="880" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_A3" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Small" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="80" y="248" />
          <LayoutLocation name="2" size="Medium" x="412" y="10" />
          <LayoutLocation name="3" size="Large" x="742" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_A4" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Large" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="548" y="10" />
          <LayoutLocation name="2" size="Small" x="548" y="248" />
          <LayoutLocation name="3" size="Medium" x="880" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_A5" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Large" x="80" y="10" />
          <LayoutLocation name="1" size="Medium" x="548" y="10" />
          <LayoutLocation name="2" size="Small" x="878" y="10" />
          <LayoutLocation name="3" size="Small" x="878" y="248" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_A6" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Medium" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="410" y="10" />
          <LayoutLocation name="2" size="Small" x="410" y="248" />
          <LayoutLocation name="3" size="Large" x="742" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_B1" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Small" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="80" y="248" />
          <LayoutLocation name="2" size="Large" x="411" y="10" />
          <LayoutLocation name="3" size="Small" x="878" y="10" />
          <LayoutLocation name="4" size="Small" x="878" y="248" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_B2" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Small" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="80" y="248" />
          <LayoutLocation name="2" size="Small" x="411" y="10" />
          <LayoutLocation name="3" size="Small" x="411" y="248" />
          <LayoutLocation name="4" size="Large" x="742" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_B3" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Large" x="80" y="10" />
          <LayoutLocation name="1" size="Small" x="547" y="10" />
          <LayoutLocation name="2" size="Small" x="547" y="248" />
          <LayoutLocation name="3" size="Small" x="878" y="10" />
          <LayoutLocation name="4" size="Small" x="878" y="248" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_C1" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Medium" x="80" y="10" />
          <LayoutLocation name="1" size="Large" x="411" y="10" />
          <LayoutLocation name="2" size="Medium" x="880" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_C2" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Medium" x="80" y="10" />
          <LayoutLocation name="1" size="Medium" x="411" y="10" />
          <LayoutLocation name="2" size="Large" x="742" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_C3" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Large" x="80" y="10" />
          <LayoutLocation name="1" size="Medium" x="549" y="10" />
          <LayoutLocation name="2" size="Medium" x="880" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_Banner" height="150">
        <LayoutLocations>
          <LayoutLocation name="0" size="Banner" x="80" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_Wireless" height="476">
        <LayoutLocations>
          <LayoutLocation name="0" size="Wireless" x="80" y="10" />
        </LayoutLocations>
      </WidgetLayout>
      <WidgetLayout name="Layout_Custom" height="0">
        <LayoutLocations>
        </LayoutLocations>
      </WidgetLayout>
    </WidgetLayouts>
    <WidgetTypes>
      <add name="FlightInformationWidget" platforms="Wireless" />
      <add name="ImageWidget" platforms="Wireless" />
      <add name="ImageWidgetV2" platforms="Remix" />
      <add name="StaticWidget" platforms="Rave2020" />
      <add name="ImageDetailsWidget" platforms="Remix;Rave2020;Wireless" />
      <add name="VideoWidget" platforms="Remix;Rave2020" />
      <add name="MediaDetailsWidget" platforms="Remix;Rave2020" />
      <add name="MediaPlayWidget" platforms="Remix;Rave2020;Wireless" />
      <add name="ApplicationWidget" platforms="Remix;Rave2020" />
      <add name="ResumeWidget" platforms="Remix;Wireless" />
      <add name="MediaListWidget" platforms="Wireless;Rave2020" />
      <add name="ExternalLinkImageWidget" platforms="Wireless" />
      <add name="HomescreenWidget" platforms="Rave2020" />
      <add name="QMLElementWidget" platforms="Rave2020" />
    </WidgetTypes>
    <WidgetTitleAlignments>
      <add name="Center" value="AlignHCenter" />
      <add name="Left" value="AlignLeft" />
      <add name="Right" value="AlignRight" />
    </WidgetTitleAlignments>
    <WidgetStyleTypes>
      <add name="Square" supportedAlignments="Center;Left;Right" />
      <add name="Circle" supportedAlignments="Center" />
      <add name="Rounded" supportedAlignments="Center" />
    </WidgetStyleTypes>
    <Rave2020WidgetsDefaultValues>
      <add key="widgetStyle" value="Square" />
      <add key="cardTitleAlignment" value="AlignHCenter" />
      <add key="cardTitleColor" value="#ffffff" />
      <add key="cardTitleFontSize" value="14" />
      <add key="cardTitleFontWeight" value="20" />
      <add key="cardColor1" value="#000000" />
      <add key="cardColor2" value="#000000" />
      <add key="customTextColor" value="#000000" />
    </Rave2020WidgetsDefaultValues>
    <CutoffPriorities>
      <add name="Tier1" value="10" />
      <add name="Tier3" value="30" />
      <add name="Tier4" value="40" />
    </CutoffPriorities>
    <LoadPriorities>
      <add name="Advertisement" value="31" />
      <add name="Album" value="25" />
      <add name="Audiobook" value="25" />
      <add name="Game" value="25" />
      <add name="GameServer" value="25" />
      <add name="Publication" value="25" />
      <add name="Homescreen" value="5" />
      <add name="MenuConfig" value="5" />
      <add name="Package" value="25" />
      <add name="Catalog" value="25" />
      <add name="InSeatVideos" value="35" />
      <add name="CloudVideos" value="45" />
      <add name="MediaFileset" value="25" />
      <add name="PRAM" value="25" />
      <add name="BGM" value="25" />
      <add name="VA" value="25" />
      <add name="Decompression" value="25" />
      <add name="NoSmoking" value="25" />
      <add name="FastenSeatBelts" value="25" />
      <add name="PaxSurvey" value="25" />
      <add name="Theme" value="5" />
      <add name="Messages" value="25" />
      <add name="ADP" value="25" />
      <add name="MovingMap" value="25" />
      <add name="IFEOff" value="25" />
      <add name="IFEScreen" value="25" />
      <add name="EntertainmentGuidePageVideos" value="15" />
      <add name="WirelessHomescreenVideos" value="15" />
      <add name="CentricHomescreenVideos" value="15" />
    </LoadPriorities>
    <Currencies>
      <add name="USD" />
    </Currencies>
    <AppMediaCategories>
      <add name="Movie" imageLayout="Portrait">
        <PageTypes>
          <add name="VideoGuidePage" platforms="Remix;Rave2020;Wireless" />
        </PageTypes>
      </add>
      <add name="Tv" imageLayout="Portrait">
        <PageTypes>
          <add name="TvGuidePage" platforms="Remix;Rave2020" />
          <add name="TvVideoGuidePage" platforms="Wireless" />
        </PageTypes>
      </add>
      <add name="Album" imageLayout="Square">
        <PageTypes>
          <add name="AudioGuidePage" platforms="Remix;Rave2020;Wireless" />
        </PageTypes>
      </add>
      <add name="Audiobook" imageLayout="Square">
        <PageTypes>
          <add name="AudioBooksGuidePage" platforms="Remix;Rave2020" />
          <add name="AudioBookDetailPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="Game" imageLayout="Square">
        <PageTypes>
          <add name="GamesGuidePage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="Publication" imageLayout="Portrait">
        <PageTypes>
          <add name="AdobeReaderPage" platforms="Remix;Rave2020" />
          <add name="PdfGuidePage" platforms="Wireless" />
        </PageTypes>
      </add>
      <add name="MixedMedia">
        <PageTypes>
          <add name="MediaGuidePage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="MixedMediaWireless">
        <PageTypes>
          <add name="EntertainmentGuidePage" platforms="Wireless" prioritized="true" />
        </PageTypes>
      </add>
      <add name="UrlContent">
        <PageTypes>
          <add name="MapPage" platforms="Wireless;" />
          <add name="NewsPage" platforms="Remix;Rave2020" />
          <add name="ExternalWebPage" platforms="Wireless;Rave2020" />
          <add name="RemotePage" platforms="Wireless" />
          <add name="NewsGuidePage" platforms="Wireless" />
          <add name="SurveyPage" platforms="Wireless;" />
        </PageTypes>
      </add>
      <add name="Package">
        <PageTypes>
          <add name="PayPerAccessPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="Catalog" imageLayout="Square">
        <PageTypes>
          <add name="DestinationsPage" platforms="Remix;Rave2020" />
          <add name="ShoppingPage" platforms="Remix;Rave2020" />
          <add name="MealMenuPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="MediaFileset" imageLayout="Portrait">
        <PageTypes>
          <add name="ImageReaderPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="Home">
        <PageTypes>
          <add name="HomePage" platforms="Wireless;Remix" />
        </PageTypes>
      </add>
      <add name="PaxSurvey" imageLayout="Square">
        <PageTypes>
          <add name="SurveyPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="Camera">
        <PageTypes>
          <add name="CameraPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="ConnectingGate">
        <PageTypes>
          <add name="ConnectingGatePage" platforms="Remix" />
        </PageTypes>
      </add>
      <add name="Map">
        <PageTypes>
          <add name="MapPage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="IPTV">
        <PageTypes>
          <add name="IptvGuidePage" platforms="Remix;Rave2020" />
        </PageTypes>
      </add>
      <add name="WebPage">
        <PageTypes>
          <add name="WebPage" platforms="Rave2020" />
        </PageTypes>
      </add>
    </AppMediaCategories>
    <HomescreenEditorProperties>
      <!-- Min distance between elements, for all sides-->
      <add name="ElementsMargin" value="60" />
      <!-- Editor one screen width and height -->
      <add name="ScreenWidth" value="3840" />
      <add name="ScreenHeight" value="1512" />
      <!-- Vertical and horizontal lines color-->
      <add name="ScreenBorderColor" value="#C0C0C0" />
    </HomescreenEditorProperties>
  </CmsConfiguration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="MailHost" value="silik.axinom.de" />
    <add key="MailPort" value="" />
    <add key="MailUser" value="" />
    <add key="MailPass" value="" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" maxUrlLength="520" maxRequestLength="20480" />
    <httpHandlers />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.102.0" newVersion="1.0.102.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="WorkflowEngineModule" type="Axinom.WorkflowEngine.WorkflowEngineModule" />
      <add name="CmsModule" type="Axinom.CMS.Core.CmsModule" />
      <remove name="FormsAuthentication" />
    </modules>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <dotless minifyCss="false" cache="false" web="false" />
  <connectionStrings>
    <add name="CMSDatabaseConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\cms.mediasuite.rim.mdf;Initial Catalog=cms.mediasuite.rim;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <context type="Axinom.CMS.Core.CmsDbContext, cms.mediasuite.rim.web">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Axinom.CMS.Core.CmsDbContext, cms.mediasuite.rim.web], [Axinom.CMS.Core.Migrations.Configuration, cms.mediasuite.rim.web]], EntityFramework" />
      </context>
      <context type="Axinom.CMS.Areas.Users.CmsIdentityDbContext, cms.mediasuite.rim.web">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Axinom.CMS.Areas.Users.CmsIdentityDbContext, cms.mediasuite.rim.web], [Axinom.CMS.Areas.Users.Migrations.Configuration, cms.mediasuite.rim.web]], EntityFramework" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>