<?xml version="1.0"?>

<!-- For more information on using 
transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 <CmsConfiguration>
   <ingestStorage key="disk" value="\Ingest"  xdt:Transform="Replace"/>
   <publishStorage key="disk" value="\Publish" xdt:Transform="Replace" />
   <mediaIdGeneratorUrl value="http://mediasuite-mediaid-generator.axtest.net/get" xdt:Transform="Replace" />
   <mediaIdGeneratorRequestCount value="100" xdt:Transform="Replace" />
   <mediaIdGeneratorThreshold value="30" xdt:Transform="Replace" />
   <VipConfigurations>
     <add name="MessagePublisher" provider="amazonsqs" uriPath="https://sqs.us-east-1.amazonaws.com/176236865008/vip-messagepublishing-autotest" credentialsName="{{AWS-CredentialsName}}" credentialsSecret="{{AWS-CredentialsSecret}}"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
     <add name="ContentAcquisition" provider="AmazonS3" uriPath="https://s3-us-east-1.amazonaws.com/zii-autotest-in-folder/" credentialsName="{{AWS-CredentialsName}}" credentialsSecret="{{AWS-CredentialsSecret}}"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
     <add name="ContentPublishing" provider="AmazonS3" uriPath="https://s3-us-east-1.amazonaws.com/zii-autotest-out-folder/" credentialsName="{{AWS-CredentialsName}}" credentialsSecret="{{AWS-CredentialsSecret}}"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
   </VipConfigurations>
   <VipSettings baseApiUrl="https://vip-stable-eu-west-1.axtest.net" auth="{{VIP-TenantAuth}}"
                archivingType="SingleTar" archiveFileExtension=".tar" videoFormat="H264"
                dashManifestFileName="manifest.mpd" hlsManifestFileName="manifest.m3u8" maxTranscodingFileAttemptsCount="5" maxVipProcessingInstances="50" xdt:Transform="Replace"/>
   <DrmConfiguration apiUrl="https://key-server-management.axtest.net/api" isKeyServerProxy="false"
                     tenantId="{{DRM-TenantId}}" managementKey="{{DRM-ManagementKey}}" keySeed="{{DRM-KeySeed}}" keysProtection="Encrypted"
                     thumbprints="{{DRM-Thumbprints}}"
                     xdt:Transform="Replace"/>
   <DeviceCertificateStatusListConfiguration apiUrl="https://drm-management.axtest.net/api/Sync/DeviceCertificateStatusList"
                                             tenantId="{{DeviceWhiteList-TenantId}}" managementKey="{{DeviceWhiteList-ManagementKey}}"
                                             xdt:Transform="Replace"/>
   <Platforms xdt:Transform="Replace">
     <add name="Remix" />
     <add name="Wireless" />
     <add name="Rave2020" />
   </Platforms>
  </CmsConfiguration>
  <connectionStrings>
    <add name="CMSDatabaseConnectionString" connectionString="Data Source=freedom.axinom.de;Initial Catalog=cms.mediasuite.rim_Autotest;Integrated Security=False;User Id=cms.mediasuite.rim_Autotest;Password=dsft63GJKD893leP;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace"></customErrors>
  </system.web>
</configuration>
